<div>
  <span class="component-title">[{{ title }}]</span>
  <a routerLink="/lineitem/create/{requestId}">
    <img width="20" height="20" src="assets/add-icon.png" title="Add New" /></a>
  <p *ngIf="!lineitem">Loading...</p>
  <div *ngIf="lineitem">
    <main class="single">

      <table class="table table-sm ">



        <tr>
          <td>Product:</td>
          <td>
            <select [(ngModel)]="lineitem.product" class="rounded">
              <option *ngFor="let p of products" [ngValue]="p">
                {{ p.name }}
              </option>
            </select>

          </td>
        </tr>

        <tr>
          <td>Quantity:</td>
          <td>
            <input [(ngModel)]="lineitem.quantity" class="rounded" type="number" />
          </td>
        </tr>
        <tr>


          <span> <button (click)="save()" class="btn btn-sm btn-primary">Add</button></span>

      </table>
    </main>
    <span>


    </span>
    <p *ngIf="message">{{ message }}</p>
  </div>
</div>