<app-menu></app-menu>
<div>
    <span class="component-title">[{{ title }}]</span>
    <p *ngIf="!user">Loading...</p>
    <div *ngIf="user">
      <main class="single">

<table class="table table-sm" >
    <tr>
      <td>Id:</td>
      <td>
        <input [(ngModel)]="user.id" class="rounded" type="text" disabled/>
      </td>
    </tr>
    <tr>
      <td>Username:</td>
      <td>
        <input [(ngModel)]="user.username" class="rounded" type="text" disabled/>
      </td>
    </tr>
    <tr>
      <td>Password:</td>
      <td>
        <input [(ngModel)]="user.password" class="rounded" type="text" disabled/>
      </td>
    </tr>
    <tr>
      <td>Email:</td>
      <td>
        <input [(ngModel)]="user.email" class="rounded" type="number" disabled/>
      </td>
    </tr>
    <tr>
      <td>First Name:</td>
      <td>
        <input [(ngModel)]="user.firstname" class="rounded" type="text" disabled/>
      </td>
    </tr>
    <tr>
        <td>Last Name:</td>
        <td>
          <input [(ngModel)]="user.lastname" class="rounded" type="text" disabled/>
        </td>
      </tr>
      <tr>
        <td>Phone:</td>
        <td>
          <input [(ngModel)]="user.phone" class="rounded" type="text" disabled/>
        </td>
      </tr>
  </table>
</main>
<span >
  <span><a routerLink="/user/edit/{{user.id}}" class="btn btn-sm btn-warning">Edit</a></span>
  <span> | <button (click)="delete()" class="btn btn-sm btn-danger">Delete</button></span>
</span>
<p *ngIf="message">{{ message }}</p>
</div>
</div>

