<div>
    <span class="component-title">[{{ title }}]</span>
    <p *ngIf="!product">Loading...</p>
    <div *ngIf="product">
      <main class="single">
        <table class="table table-sm table-striped ">
          <tr>
            <td>Id:</td>
            <td>
              <input [(ngModel)]="product.id" class="rounded" type="text" />
            </td>
          </tr>
          <tr>
            <td>VendorId:</td>
            <td>
              <input [(ngModel)]="product.vendorId" class="rounded" type="text" />
            </td>
          </tr>
          <tr>
            <td>Part Number:</td>
            <td>
              <input [(ngModel)]="product.partNumber" class="rounded" type="number" />
            </td>
          </tr>
          <tr>
            <td>Name:</td>
            <td>
              <input [(ngModel)]="product.name" class="rounded" type="text" />
            </td>
          </tr>
          <tr>
            <td>Price:</td>
            <td>
              <input [(ngModel)]="product.price" class="rounded" type="text" />
            </td>
          </tr>
          <tr>
            <td>Unit:</td>
            <td>
              <input [(ngModel)]="product.unit" class="rounded" type="text" />
            </td>
          </tr>
          <tr>
            <td>PhotoPath:</td>
            <td>
              <input [(ngModel)]="product.photoPath" class="rounded" type="text" />
            </td>
          </tr>
          
           
        </table>
      </main>
      <span>
        <button (click)="save()" class="btn btn-sm btn-primary">Save</button>
      </span>
      <p *ngIf="message">{{ message }}</p>
    </div>
  </div>
  

