<app-menu></app-menu>
<div>
    <span class="component-title">[{{ title }}]</span>
    <p *ngIf="!lineitem">Loading...</p>
    <div *ngIf="lineitem">
      <main class="single">
        <table class="table table-sm  ">
         
          <tr>
            <td>Product:</td>
            <td>
              <input [(ngModel)]="lineitem.product.name" class="rounded" type="text" disabled/>
            </td>
          </tr>
          <tr>
            <td>Price:</td>
            <td>
              <input [(ngModel)]="lineitem.product.price" class="rounded" type="text" />
            </td>
          </tr>
          <tr>
            <td>Quantity:</td>
            <td>
              <input [(ngModel)]="lineitem.quantity" class="rounded" type="number" />
            </td>
          </tr>
         
        </table>
      </main>
      <span>
        <button (click)="save()" class="btn btn-sm btn-primary">save</button>
      </span>
      <p *ngIf="message">{{ message }}</p>
    </div>
  </div>
  


