<div>
    <span class="component-title">[{{ title }}]</span>
    <p *ngIf="!product">Loading...</p>
    <div *ngIf="product">
      <main class="single">

<table class="table table-sm ">
    <tr>
      <td>Id:</td>
      <td>
        <input [(ngModel)]="product.id" class="rounded" type="text" disabled/>
      </td>
    </tr>
    <tr>
      <td>VendorId:</td>
      <td>
        <input [(ngModel)]="product.vendorId" class="rounded" type="text" disabled/>
      </td>
    </tr>
    <tr>
      <td>Part number:</td>
      <td>
        <input [(ngModel)]="product.partNumber" class="rounded" type="text" disabled/>
      </td>
    </tr>
    <tr>
      <td>Name:</td>
      <td>
        <input [(ngModel)]="product.name" class="rounded" type="number" disabled/>
      </td>
    </tr>
    <tr>
      <td>Price:</td>
      <td>
        <input [(ngModel)]="product.price" class="rounded" type="text" disabled/>
      </td>
    </tr>
    <tr>
        <td>Unit:</td>
        <td>
          <input [(ngModel)]="product.unit" class="rounded" type="text" disabled/>
        </td>
      </tr>
      <tr>
        <td>PhotoPath:</td>
        <td>
          <input [(ngModel)]="product.photoPath" class="rounded" type="text" disabled/>
        </td>
      </tr>
  </table>
</main>
<span >
  <span><a routerLink="/product/edit/{{product.id}}" class="btn btn-sm btn-warning">Edit</a></span>
  <span> | <button (click)="delete()" class="btn btn-sm btn-danger">Delete</button></span>
</span>
<p *ngIf="message">{{ message }}</p>
</div>
</div>


